 <div class="main">
    <div class="mainContainer">  
        <div class="ttlMain">
            <div class="lineMain"></div>
            <h3>Discover new adventures</h3>
            <div class="btnMain">
                <a href="/books"><button>ENJOY</button></a>
            </div>
        </div>
    </div>
 </div>