<div class="login">
        <div class="imgLogin">
                <img src="/images/1.png" alt="">
        </div>

        <div class="derechaLogin">
                <h3 class="ttlLogin">LOG IN</h3>
                <form action="/login" method="POST" class="formLogin">
                        {{!-- name es el nombre de la propiedad cuando recibamos el formulario--}}
                        <p>Email</p>
                        <input type="email" name="email" id="" placeholder="Email" required>
                        <p>Password</p>
                        <input type="password" name="password" id="" placeholder="Password" required><br>
                        <button class="btnLogin">Log in</button>

                        <div class="errorMensaje">
                        {{!-- unless es que si no hay/esta --}}
                        {{#unless validation.success}}
                                {{#each validation.errors}}
                                        {{this}}
                                {{/each}}
                        {{/unless}}
                     </div>
                </form>
        </div>
</div>