<div class="signUp">
        <div class="formSignUp">
                <h3 class="ttlSignUp">SIGN UP</h3>
                <form action="/signup" method="POST" class="formLogin">
                    <p>First name</p>
                    <input type="text" name="firstName" id="" placeholder="Name...">
                    <p>Last name</p>
                    <input type="text" name="lastName" id="" placeholder="Name...">
                    <p>Username</p>
                    <input type="text" name="username" id="" placeholder="Name...">
                    <p>Birthday</p>
                    <input type="date" name="birthday" id="">
                    <p>Email</p>
                    <input type="email" name="email" id="" placeholder="Email" required>
                    <p>Password</p>
                    <input type="password" name="password" id="" placeholder="Password" required><br>
                    <button class="btnLogin">Sign up</button>
                </form>
        </div>
</div>